{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": ".",
    "parser": {
      "syntax": "typescript",
      "decorators": false
    },
    "target": "es2022",
    "keepClassNames": true,
    "loose": false,
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": false
    },
    "paths": {
      "#/*": ["./src/*"]
    }
  },
  "module": {
    "type": "es6",
    "strict": true
  }
}
